{% extends "::base.html.twig" %}

{% block title %}Gerenciamento de Carros{% endblock %}

{% block body %}
<h1>Gerenciamento de Carros</h1>

<ul id="marcas">
	<li><a href="/cars">Modelos e Marcas Disponíveis</a></li>
</ul>

{% endblock %}
